<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hi</title>
  </head>

  <body>
    <h1>Hi</h1>
    <p>This is an amazing app to help you find the nearest MBTA station</p>

    <form action = "/nearest_mbta" method = "POST">
      <label>Enter a place's name:</label><br>
      <input type = "text" name = "place_name" >
      <label for="route_type">Choose transit type:</label><br>
      <select id="route_type" name="route_type">
        <option value="all">Any MBTA mode</option>
        <option value="0">Light Rail (Green Line)</option>
        <option value="1">Subway (Red/Orange/Blue)</option>
        <option value="2">Commuter Rail</option>
        <option value="3">Bus</option>
        <option value="4">Ferry</option>
    </select><br><br>
      <button type = "submit">Submit</button>
    </form>
  </body>
</html>
